.slick-slide img {
    margin: auto;
    width: 50%;
    height: 50%;
}


.slick-dots li.slick-active button:before {
    color:rgb(246, 65, 10) !important;
    font-size: medium ;
}
.slick-dots li button::before {

    font-size: medium;
}

@media only screen and (max-width: 600px) {
    .slick-list{
        z-index: -10;
    }
    .slick-slide img {
        margin: auto;
        width: 80%;
        height: 80%;
    }
    .slick-dots li.slick-active button:before {
        color:rgb(246, 65, 10) !important;
        font-size: small ;
        z-index: -10;
    }
    .slick-dots li button::before {
        z-index: -10;
        font-size: small;
    }
  }

  .mySwiper .swiper-prev,
.mySwiper .swiper-next,
.diningSwiper .swiper-prev,
.diningSwiper .swiper-next {
  top: 50%;
  background: white;
  border-radius: 100%;
  padding: 5px !important;
  width: 30px;
  height: 30px;
}

.mySwiper .swiper-prev::after,
.mySwiper .swiper-next::after {
  font-size: 15px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.diningSwiper .swiper-next::after,
.diningSwiper .swiper-prev::after {
  font-size: 15px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 15px;
}


.diningSwiper .swiper-prev {
    left: 5px;
    border: 4px solid #fab5b9;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
      rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  }
  
  .diningSwiper .swiper-next {
    right: 5px;
    border: 4px solid #fab5b9;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
      rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  }
